h1 {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p b {
    font-size: 20px;
}

body {background-color: #ffeb3b;

}

audio {
    color: #ffeb3b;
}
